.container{
    margin-bottom: 80px;
}
.bg-color{
    background-color: #FEEAE9;
    border-radius: 12px;
}
.carousel-item{
    padding: 20px 60px;
}
.price{
    color: #FF136F;
    padding-bottom: 10px;
}
.buy-now{
    background-image: linear-gradient(to bottom , #FF589B 0% , #FF136F 100%);
    color: #FFF;
    border: none;
    border-radius: 7px;
    padding: 9px 25px;
}
.item1, .item2, .item3{
    padding: 10px 30px;
    border-radius: 10px;
}
.item1{
    background-color: #FF9C35;
    color: white;
}
.item2{
    background-color: #FF589B;
    color: white;
}
.item3{
    background-color: #4289FF;
    color: white;
}
.card-body{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#contact{
    height: 300px;
}
#contact h6{
    color: grey;
}
footer{
    text-align: center;
}